In [1]:
import os
import pandas as pd

In [3]:
supply_chain_fpath = r"C:\Users\admin\Desktop\Superstore Project\Supply Chain Operations Dataset.csv"
supply_chain_df = pd.read_csv(supply_chain_fpath)
supply_chain_df.head()

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,haircare,SKU0,69.808006,55,802,8661.996792,Non-binary,58,7,96,...,Mumbai,29,215,29,46.279879,Pending,0.226410,Road,Route B,187.752075
1,skincare,SKU1,14.843523,95,736,7460.900065,Female,53,30,37,...,Mumbai,23,517,30,33.616769,Pending,4.854068,Road,Route B,503.065579
2,haircare,SKU2,11.319683,34,8,9577.749626,Unknown,1,10,88,...,Mumbai,12,971,27,30.688019,Pending,4.580593,Air,Route C,141.920282
3,skincare,SKU3,61.163343,68,83,7766.836426,Non-binary,23,13,59,...,Kolkata,24,937,18,35.624741,Fail,4.746649,Rail,Route A,254.776159
4,skincare,SKU4,4.805496,26,871,2686.505152,Non-binary,5,3,56,...,Delhi,5,414,3,92.065161,Fail,3.145580,Air,Route A,923.440632

In [28]:
sales_transact_dfs = {}
sales_transact_folderpath = r'C:\Users\admin\Desktop\Superstore Project\Sales Transaction Dataset\\'
for filepath in os.listdir(sales_transact_folderpath):
    if filepath.endswith('.csv'):
        file_name = filepath.split('.')[0]
        table_name = f'sales_transaction_{file_name.lower()}_tbl'
        table = pd.read_csv(sales_transact_folderpath + filepath)
        sales_transact_dfs[table_name] = table

In [36]:
inventory_management_dfs = {}
inventory_management_folderpath = r'C:\Users\admin\Desktop\Superstore Project\Inventory Management Dataset\\'
for filepath in os.listdir(inventory_management_folderpath):
    if filepath.endswith('.csv'):
        file_name = filepath.split('.')[0]
        table_name = f'inventory_management_{file_name.lower()}_tbl'
        table = pd.read_csv(inventory_management_folderpath + filepath)
        inventory_management_dfs[table_name] = table

In [41]:
import pandas as pd
import os
from sqlalchemy import create_engine

# Define the PostgreSQL connection string
# Replace 'username', 'password', 'host', 'port', and 'database_name' with your actual database credentials
conn_str = 'postgresql://postgres:mercy@localhost/superstore_analytics_database'

# Create a SQLAlchemy engine
engine = create_engine(conn_str)

# Read the supply chain dataset
supply_chain_fpath = r"C:\Users\admin\Desktop\Superstore Project\Supply Chain Operations Dataset.csv"
supply_chain_df = pd.read_csv(supply_chain_fpath)

# Push the supply chain data to PostgreSQL
supply_chain_table_name = 'supply_chain_operations_tbl'
supply_chain_df.to_sql(supply_chain_table_name, engine, if_exists='replace', index=False)

# Read and push sales transaction datasets
sales_transact_folderpath = r'C:\Users\admin\Desktop\Superstore Project\Sales Transaction Dataset\\'
for filepath in os.listdir(sales_transact_folderpath):
    if filepath.endswith('.csv'):
        file_name = filepath.split('.')[0]
        table_name = f'sales_transaction_{file_name.lower()}_tbl'
        table = pd.read_csv(os.path.join(sales_transact_folderpath, filepath))
        table.to_sql(table_name, engine, if_exists='replace', index=False)

# Read and push inventory management datasets
inventory_management_folderpath = r'C:\Users\admin\Desktop\Superstore Project\Inventory Management Dataset\\'
for filepath in os.listdir(inventory_management_folderpath):
    if filepath.endswith('.csv'):
        file_name = filepath.split('.')[0]
        table_name = f'inventory_management_{file_name.lower()}_tbl'
        table = pd.read_csv(os.path.join(inventory_management_folderpath, filepath))
        table.to_sql(table_name, engine, if_exists='replace', index=False)